*~
**/_build/**
**/.merlin
**/_opam/**
tests/generated/star/m*.mli
*.cm[ioax]
*.cmxa
*.cmt
*.cmti
*.o
docs/*.html
lib/ast_converter.ml
lib/cmi.ml
lib/format_compat.ml
lib/format_tags.ml
lib/version.ml
lib/pparse_compat.ml
full/extended_args.ml
**/#*#
Makefile.config
codept
codept-client
codept-server
build/full
build/lib
build/preprocessor.exe
